<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/_701051780322"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FroyMon"
        tools:targetApi="31">
        <activity
            android:name=".user_qrcode_joinlobbyform"
            android:exported="false" />
        <activity
            android:name=".user_scanqrcode"
            android:exported="false" />
        <activity
            android:name=".admin_qrcode_generator"
            android:exported="false" />
        <activity
            android:name=".user_thankyou"
            android:exported="false" />
        <activity
            android:name=".admin_computerinventorydetails"
            android:exported="false" />
        <activity
            android:name=".admin_computerinventory"
            android:exported="false" />
        <activity
            android:name=".user_lobbycode"
            android:exported="false" />
        <activity
            android:name=".user_joinlobbyform"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".admin_viewlobbyparticipants"
            android:exported="false" />
        <activity
            android:name=".admin_createlobbyform"
            android:exported="false" />
        <activity
            android:name=".createlobbyform"
            android:exported="false" />
        <activity
            android:name=".admin_laboratory"
            android:exported="false" />
        <activity
            android:name=".user_homepage"
            android:exported="false" />
        <activity
            android:name=".admin_labschedules"
            android:exported="false" />
        <activity
            android:name=".admin_homepage"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>